* {
    margin-left: 0;
    padding: 0;
}

.header-trimmed {
    width: calc(100% - 116.5625rem);
    margin-left: 16.5625rem;
}

.header-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}
