/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

* {
    margin: 0;
}

body {
    background-color: #1d00bf;
    font-family: 'Roboto', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: rgb(42, 189, 5);
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0.25rem 0.5rem #b6bc00;
}

.card-head{
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf17f;
    font-size: 1rem;
    font-weight: 600;
}

.card-body {
    padding: 1rem 1.5rem;
}